*{
    padding: 0;
    margin: 0;
  }
/* nav-bar  */

#pic{
      position: relative;
      left: 35.6rem;
      background-color: white;
      top: 0.313rem;
  }
  .nav-bar{
    height: 6.125rem;
    background-color: white;
  
  }

/* menu  */

.menu{
      height: 2.563rem;
      width: 98rem;
      background-color: #9393e1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: sticky;
      top: 0px;
      z-index: 3;
  }
.pmenu{
    color: white;
    font-size: x-large;
    cursor: pointer;
    position: relative;
  
  }
.home{
      position: relative;
  }  
#home-pop, #about-pop, #acad-pop, #add-pop, #research-pop, #campus-pop{
      display: none;
      position: absolute; 
      top: 2.5rem;
      background-color: #d6c2f8eb;
      /* background-color: #9396bfd4; */
      height: 15.625rem;
      width:84.375rem ;
      transition: top 0.5s ease;
      border-radius: 0.625rem;
  }
#acad-pop, #add-pop,#research-pop{
      height: 9.375rem;
  }
#campus-pop{
      height: 11.25rem;
  }  
#about:hover+ #about-pop{
      display: block;
  }
#acad:hover+ #acad-pop {
      display:block;
  } 
#add:hover+ #add-pop {
      display:block;
  }
#research:hover+ #research-pop {
      display:block;
  }
#campus:hover+ #campus-pop {
      display:block;
  }
#divofabout{
    display: inline-block;
    height: 15.625rem;
    width: 26.875rem;
    /* border-width: 4px;
    border-color: #343843; */
    border-color: rgb(183, 20, 20);
    border-right: 0.125rem;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    text-align: center;
    line-height: 1.875rem;
}
#divofabout3{
    display: inline-block;
    height: 10.75rem;
    width: 26.875rem;
    text-align: center;
    line-height: 1.875rem;
}
#divofacad{
    display: inline-block;
    height: 9.375rem;
    width: 26.875rem;
    /* border-width: 4px;
    border-color: #343843; */
    border-color: rgb(183, 20, 20);
    border-right: 0.125rem;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    text-align: center;
    line-height: 1.875rem;
}
#divofacad3{
    display: inline-block;
    height: 8.875rem;
    width: 26.875rem;
    text-align: center;
    line-height: 1.875rem;
}
a{
    font-size: 1.563rem;
    color: rgb(154, 77, 150);
    color: white;
    position: relative;
    top:1.563rem;
}
a:hover{
    display: inline-block;
    height: 1.875rem;
    width: 16.875rem;
    border-radius: 0.938rem;
    background-color: white;
    color: black;
    transition: 0.5s;
}



/* first page  */




* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {display: none}

img {vertical-align: middle;}
.mySlides:first-child {
  display: block;
}
/* Slideshow container */
.slideshow-container {
max-width: 98rem;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 48%;
width: 0.063rem;
height: 0.063rem;
padding: 1rem;
color: white;
font-weight: bold;
font-size: 1.125rem;
}

/* Position the "next button" to the right */

.next {
right: 0;
border-radius: 0.188rem 0 0 0.188rem;
}

/* Caption text */
.text{
color: #f2f2f2;
font-size: 1.125rem;
padding: 0.5rem 0.75rem;
position: absolute;
bottom: 0.5rem;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext{
color: #f2f2f2;
font-size: 0.75rem;
padding: 0.5rem 0.75rem;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 0.938rem;
width: 0.938rem;
margin: 0 0.125rem;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}


/* page 2 */
  
.topper{
    height: 25.219rem;
    width: 41.625rem;
    position: relative;
    top: 9.375rem;
    left: 26.5rem;
    bottom: 15.625rem;
    background-color: white;
    border: 0.063rem dotted darkblue;
    z-index: -2;
}
.topper-img{
    height: 18.125rem; 
    width: 9.375rem;
    border-radius: 0.938rem;
    position: relative; 
    left: 16.25rem;
    top: 1.875rem;
    background-image: url(bulb.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


.div2{
    height: 19.625rem;
    width: 34.688rem;
    border: 0.063rem dotted darkblue;
    background-color: white;
    position: relative;
    top: 6.25rem;
    left: 30.1rem;
    z-index: -1;
    text-align: center;
    font-size: 1.75rem; 
}
.div2-first, .micro{
    height: 5.625rem; 
    width: 5.625rem;
    position: relative;
    right: 5rem;
    bottom: 0.938rem;
    display: inline-block;
}
.google, .amazon{
    right: 0.625rem;
}
.facebook, .apple{
    left: 4.375rem;
}
.div2-netflix, .div2-google, .div2-facebook, .div2-micro, .div2-amazon, .div2-apple{
    height: 5.625rem; 
    width: 5.625rem;
    border-radius: 0.938rem;
}
.div2-netflix{
    background-image: url(netflix.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div2-google{
    background-image: url(google.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div2-facebook{
    background-image: url(facebook.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.div2-micro{
    background-image: url(microsoft.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.div2-amazon{
    background-image: url(amazon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.div2-apple{
    background-image: url(apple.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.right1{
    height: 10.5rem;
    width: 13.875rem;
    border: 0.063rem dotted darkblue;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    bottom: 35.625rem;
    left: 68.25rem;
}
.right1-img{
    width: 5.625rem; 
    height: 5.625rem; 
    position: relative; 
    left: 0.313rem; 
    top: 1.563rem;
    background-image: url(tick.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.right2{
    height: 14.688rem;
    width: 13.875rem;
    border: 0.063rem dotted darkblue;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    bottom: 35.625rem;
    left: 68.25rem;
}
.right2-img{
    width: 5.625rem; 
    height: 5.625rem; 
    position: relative; 
    left: 4.375rem; 
    top: 1.563rem;
    background-image: url(ecofriendly.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.right3{
    height: 7.75rem;
    width: 17.344rem;
    border: 1px dotted darkblue;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    bottom: 35.625rem;
    left: 64.5rem;

}
.right3-img{
    width: 3.75rem; 
    height: 6.875rem; 
    position: relative; 
    left: 2.5rem; 
    top: 0.625rem;
    background-image: url(nirf.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.right4{
    width: 17.344rem;
    height: 9.05rem;
    position: relative;
    bottom: 35.625rem;
    left: 64.5rem;
}
.right4-img{
    width: 7.5rem; 
    height: 6.875rem; 
    position: relative; 
    left: 1.25rem; 
    top: 0px;
    background-image: url(placement.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.left1{
    width: 13.875rem;
    height: 14.038rem;
    border: 0.063rem dotted darkblue;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    bottom: 77.813rem;
    left: 12.625rem;
    
}
.left1-img{
    width:5.625rem;
    height: 5.625rem; 
    position: relative;
    left: 3.875rem;
    background-image: url(uni.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.left2{
    width: 17rem;
    height: 14.038rem;
    border: 0.063rem dotted darkblue;
    border-right: none;
    border-top: none;
    border-left: none;
    position: relative;
    bottom: 70.938rem;
    left: 12.875rem;
    z-index: -3;
}
.left2-img {
    width: 6.875rem;
    height: 6.875rem;
    background-image: url(globe.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 3.75rem;
    bottom: 1.25rem;
}

.left3 {
    width: 17.34375rem;
    height: 9.375rem;
    position: relative;
    bottom: 71.875rem;
    left: 12.875rem;
}

.left3-img {
    position: relative;
    left: 9.6875rem;
    width: 6.25rem;
    top: 1rem;
    height: 5.625rem;
    background-image: url(university.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

#horline {
    width: 34.6875rem;
    border-bottom: 0.03125rem dashed darkblue;
    position: relative;
    top: 0rem;
}

#verline {
    border-left: 0.0625rem dashed darkblue;
    height: 8.375rem;
    margin: 0 auto;
    width: 0.0625rem;
    display: inline-block;
    position: relative;
    right: 3.125rem;
    top: 0.25rem;
}

#verline2 {
    border-left: 0.0625rem dashed darkblue;
    height: 8.375rem;
    margin: 0 auto;
    width: 0.0625rem;
    display: inline-block;
    position: relative;
    left: 1.875rem;
    top: 0.25rem;
}

.page2 {
    height: 62.5rem;
}

.page3 {
    height: 0.625rem;
    position: relative;
    top: 62.5rem;
}

/* page 3 */
.bulletin {
    height: 25rem;
    width: 98rem;
    background-color: pink;
    position: relative;
    bottom: 68.75rem;
}

.board {
    width: 37.5rem;
    height: 21.875rem;
    background-color: grey;
    position: relative;
    bottom: 40.75rem;
    left: 53.125rem;
    border-radius: 1.5625rem;
}

.up-event {
    position: relative;
    top: 0.625rem;
    left: 14.375rem;
    width: 21.875rem;
    padding: 0rem;
    display: inline-block;
}

.upec1 {
    height: 18.75rem;
    width: 21.875rem;
    border-radius: 0.625rem;
    position: relative;
    left: 1.25rem;
    top: 2.5rem;
    background-image: url(upce1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.upec2 {
    height: 18.75rem;
    width: 21.875rem;
    border-radius: 0.625rem;
    position: relative;
    left: 25.625rem;
    bottom: 17.6875rem;
    background-image: url(upce2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.upec1-name {
    position: relative;
    top: 1.5625rem;
    left: 5.625rem;
    width: 31.25rem;
    display: inline-block;
}

.upec2-name {
    position: relative;
    left: 33.75rem;
    bottom: 18.75rem;
    width: 31.25rem;
    display: inline-block;
}

.board-head {
    position: relative;
    left: 1.25rem;
    top: 0.9375rem;
    color: white;
}

ul {
    position: relative;
    left: 3.125rem;
    top: 1.875rem;
    font-size: 1.25rem;
    color: white;
    line-height: 2.5rem;
    cursor: pointer;
}

.bubo:hover{
    text-decoration: underline;
    color: blue;

}

.welcome {
    border: 0.0625rem solid #9393e1;
    position: relative;
    bottom: 62.5rem;
    height: 28.125rem;
    width: 53.125rem;
    left: 5rem;
}

.wel-head {
    position: relative;
    left: 17.5rem;
    display: inline-block;
    top: 1.5625rem;
}

.wel-matter {
    position: relative;
    left: 3.125rem;
    width: 46.875rem;
    line-height: 1.5625rem;
    font-size: 1.25rem;
    text-align: center;
    top: 1.5625rem;
}

.wel-img {
    position: relative;
    left: 59.375rem;
    bottom: 87.5rem;
    width: 31.25rem;
    height: 15.625rem;
    background-image: url(vitimi.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.butto {
    position: relative;
    left: 21.25rem;
    width: 9.375rem;
    height: 3.125rem;
    background-color: #9393e1;
    color: white;
    font-size: 1.25rem;
    top: 1.875rem;
    cursor: pointer;
    border: none;
    border-radius: 0.625rem;
}

.butto:hover{
    background-color: white;
    color: #9393e1; 
    border: 0.0625rem solid #9393e1;
}

/* lastt  */
#last{
    height: 28.9375rem; 
    width: 98rem;
    background-color:#9393e1; 
    position: relative; 
    top: 62.5rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.col-head{
    color: rgb(230, 229, 229);
}
#col-mat{
    font-size: 1.125rem;
    color: white;
}
